include COPYING
include NEWS
include README.md
include Makefile
include doc/conf.py
include doc/index.rst
include doc/module.rst
include setup.cfg
include test/test_xattr.py
include test/__init__.py
include xattr.c
